@page
@model ContactManager.Pages.CreateModel
@{
    ViewData["Title"] = "New Contact";

    <h1>Novo Contato</h1>

    <form method="post" class="mt-3">
        <div class="form-group">
            <label asp-for="Customers.Name" class="form-label">Name</label>
            <input asp-for="Customers.Name" class="form-control"></input>
            <span asp-validation-for="Customers.Name" class="text-danger"></span>
        </div>

      @*   <div class="form-group mt-2">
             <label asp-for="Customer.Contact" class="form-label">Contact</label>
             <input asp-for="Customer.Contact" class="form-control"></input>
             <span asp-validation-for="Customer.Contact" class="text-danger"></span>
         </div>

         <div class="form-group mt-2">
             <label asp-for="Customer.EmailAddress" class="form-label">E-mail</label>
             <input asp-for="Customer.EmailAddress" class="form-control"></input>
             <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
         </div> *@

        <button type="submit" class="btn btn-success mt-3">Salvar</button>
        <a asp-page="Index" class="btn btn-secondary mt-3">Cancelar</a>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
