@page
@model ContactManager.Pages.EditModel
@{
    ViewData["Title"] = "Editar Contato";

    <h1>Editar Contato</h1>

    <form method="post">
        <div class="form-group">
            <label asp-for="Customers.Name" class="form-label">Nome</label>
            <input asp-for="Customers.Name" class="form-control" />
            <span asp-asp-validation-for="Customers.Name" class="text-danger"></span>
        </div>

        @* <div class="form-group mt-2">
             <label asp-for="Customers.Contact" class="form-label">Nome</label>
             <input asp-for="Customers.Contact" class="form-control" />
             <span asp-asp-validation-for="Customers.Contact" class="text-danger"></span>
         </div>

         <div class="form-group mt-2">
             <label asp-for="Customers.EmailAddress" class="form-label">Nome</label>
             <input asp-for="Customers.EmailAddress" class="form-control" />
             <span asp-asp-validation-for="Customers.Contact" class="text-danger"></span>
         </div> *@

        <button type="submit" class="btn btn-success mt-3">Salvar</button>
        <a asp-page="Index" class="btn btn-secondary mt-3">Cancelar</a>
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
